body {
  background-image: linear-gradient(90deg, #760980, #ff66c4);
}
.App {
  display:flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  top: 0;
}

h3 {
  font-size: 30px;
  color: #f50792;
  margin-left: auto 10px;
  padding: 6px;
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
  display: block;
  align-self: start;
  font-style: italic;
  border: #f13dac;
  border-style: groove;
  width: 10vw;
  height: 5vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}
.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 900px;
}
.left .logo {
  height: 60px;
}
.right {
  display: flex;
  gap: 80px;
  font-weight: bold;
  width: 70vw;
  justify-content: space-evenly;
  font-size: 35px;
  color: white;
  background-image: linear-gradient(90deg, rgb(245, 112, 192), #bb278a);
  margin-left: 80px;
  padding: 10px;
  font-family: italic;
  height: 10vh;
}
.right p {
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 400px;
  font-style: italic;
}

.container-2 {
  text-align: center;
  margin: 15px 0;
}
h2 {
  font-size: 50px;
  color: #fdf8f8;
  font-style: italic;
  font-weight: bold;
  margin-right: 50px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 0;
}

.btn {
  background: #f9fafa;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
button:hover {
  background: #0056b3;
}
button {
  background-color: rgb(209, 80, 185);
  color: white;
  background-image: white;
  gap: 20px;
  border-radius: 30px;
  padding: 10px;
  align-items: center;
  width: 11vw;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 200px;
  position: relative;
  margin-bottom: 180px;
}

.container-3 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  width: 30vw;
  align-items: space-evenly;
  color: white;
}

.icons-me {
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
  font-size: 16px;
  width: 30vw;
  align-items: space-evenly;
  color: white;
}

.icon-bg {
  background-color: #f835c7;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.icon-container p {
  margin: 0;
}

.icon-container svg {
  color: #faf7f7;
  font-size: 16px;
  border-radius: 10%;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  margin-left: 10px;
  background-color: #faf7f7;
  padding: 10px;
  border-radius: 5px;
}

.icons-me {
  background-color: #f13dac;
  padding: 8px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}

.divider {
  border: none;
  border-top: 2px solid #fc38a4;
  margin: 20px 0;
}
.projects-title {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 35rem;
}
.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

.skill-section {
  text-align:left;
  color:white;
  align-items: center;
  margin-left:25px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 2px; 
  width: 50vw;
  margin-left:70px;


}
 h4::before{
  content: " ";
  width: 10px;
  height: 10px;
  border-radius:50%;
  background-color: #d60d9a;
  position: absolute;
  left: 0;
  align-items: center;
  padding:1px;
  margin:10px;
  gap:5px;
}
p {
  text-align: center;
}
.skill {
  background-color:rgb(228, 49, 162);  
  padding: 5px; 
  border-radius: 5px;
  width:10vw;

  
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media (min-width: 375px)  {
  .container-1 {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .right p {

    margin-right: 0;
  }
  .button-container {
    margin-left: 0;
  }
  .container-2 {
    margin-left: 0;
  }
  .icon-container {
    flex-direction: column;
    align-items: center;
  }
  .icon-bg {
    margin-right: 0;
  }
  .icon-container p {
    margin-bottom: 0;
  }
  .icon-container svg {
    margin-right: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .projects-title {
    margin-left: 0;
  }
  .skill-section {
    margin-left: 0;
  }
  .skills {
    margin-left: 0;
  }
}
@media (min-width:375px) {
  
}