.aboutme-container {
  color: white;
  margin-top:640px;
}

.aboutme-container h4 {
  position: relative;
  padding-left: 21px;
  font-style: "italic";
  font-size: 26px;
  color: #f8f1f1;
  right:1%;
}

.aboutme-container h4::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius:5px;
  background-color: #d60d9a;
  position: absolute;
  left: 0;
  align-items: center;
  padding:1px;
  margin-top:10px;
}
.aboutme-container p {
  font-size: 20px;
  color: #f8f1f1;
  margin-left: 30px;
  width: 50vw;
  
}
